<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ironmeta.one"
    android:installLocation="internalOnly">
    <!-- base begin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <!-- share begin -->
    <queries>
        <package android:name="com.whatsapp" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:mimeType="vnd.android-dir/mms-sms"
                android:scheme="smsto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto:" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:exported="false"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:fullBackupContent,android:dataExtractionRules"
        android:dataExtractionRules="@xml/my_rules"
        android:fullBackupContent="@xml/backup_descriptor">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="680"/>
        <activity android:name=".ui.support.LanguageSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.support.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationLauncherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConnectedReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DisconnectReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.settings.appsbypass.AppsBypassSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ui.regionselector2.ServerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.support.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.support.TermsOfServiceActivity"
            android:screenOrientation="portrait" /> <!-- work manager begin -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5185269921085518~3585392376" />

    </application>

</manifest>